@import url('https://fonts.googleapis.com/css?family=Satisfy|Source+Sans+Pro:400,700&display=swap');

.body
{
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

/*--- Nav Scrolling Offset --*/
.offset:before
{
    height: 62px;
    margin-top: -62px;
    content: "";
    display: block;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"]
{
    padding: 1rem;
}

/*=========== NAVIGATION =============*/
.navbar
{
    padding: .6rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: .1rem;
    background-color:  rgba(0, 0, 0, 0.8)!important;
}
.navbar-brand
{
    color: white;
}
.navbar-nav .nav-link
{
    color: rgb(255, 255, 255);
    padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover
{
    border-bottom: .1rem white solid;
}
.navbar-brand li
{
    padding-right: .8rem;
}

/*=========== LANDING PAGE =============*/
.caption
{
    width: 100%;
    max-width: 100%;
    padding-top: 15rem;
    top: 40%;
    z-index: 1;
}
.caption h3
{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}
.caption .btn
{
    margin-bottom: 2rem;
}
.caption i
{
    color: black;
    transition: transform .4s ease;
}
.caption i:hover
{
    transform: scale(1.1);
    cursor: zoom-in'
}
.caption p
{
    font-size: 1.5rem;
}

/*=========== SKILLS PAGE =============*/
.skills-section
{
    padding-top: 5rem;
}
.narrow
{
    width: 85%;
    margin: 0 auto;
    padding-top: 1rem;
}
h3.heading
{
    font-size: 1.9rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}
.heading-underline
{
    width: 3rem;
    height: .2rem;
    background-color: black;
    margin: 0 auto 2rem;
}

/*=========== EXPERIENCE PAGE =============*/
.experience-section
{
    padding-top: 5rem;
}
.card
{
    margin: 0 1rem;
    border-radius: 0;
}
.card h4
{
    font-weight: 700;
}
.card h5
{
    color: grey;
}
.card p
{
    padding: 1rem;
    margin: 1rem 0 1.5rem;
}

/*=========== CONTACT PAGE =============*/
.footer
{
    padding-top: 5rem;
}
.footer .row
{
    padding: 1rem 2rem 3rem;
}
.footer a
{
    color: black;
}
.footer svg.svg-inline--fa {
	margin: 1.2rem .5rem 0 0;
}
.footer svg.svg-inline--fa:hover {
	color: grey!important;
}
.footer h3 {
	text-transform: uppercase;
	margin: 1.5rem 0;
}