{%extends "layout.html"%}
{%block content%}

<div class="contact-section">

    <div class="container-fluid footer">
        <div class="row">

            <div class="col-md-6">
                <h3>feel free to contact me.</h3>
                <strong>My Location</strong>
                <p>Pungmu-dong 759, Gimpo-si, Gyeonggi-do 10120</p><br>
                <strong>Contact Info</strong>
                <p>+82 10 2896-4916<br>gui_aramos@outlook.com</p>
                <a href="https://github.com/guiaramos" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/guilhermearamos/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </div>

    </div>

</div>
{%endblock%}