{%extends "layout.html"%}
{%block content%}
<!-- Start Home Page -->
<div class="home">
    <!-- Landing Page Image-->
    <div class="landing">
        <div class="home-wrap">
            <div class="home-inner">
            </div>
        </div>
    </div>
    <!-- End Landing Page Image-->

    <!-- Landing Page Caption-->
    <div class="caption center-block text-center">
        <p>Hello, I'm</p>
        <h3>Gui</h3>
        <p>Accounting Analyst &#05; Front-end Developer</p>
        <a class="btn btn-outline-dark" href="{{ url_for('skills') }}">Get Started</a><br>
        <a href="https://github.com/guiaramos" target="_blank"><i class="fab fa-github fa-5x"></i></a>
        <a href="https://www.linkedin.com/in/guilhermearamos/" target="_blank"><i class="fab fa-linkedin fa-5x"></i></a>
    </div>
</div>
<!-- End Landing Page Caption-->
<!-- End Landing Page -->
{%endblock%}