{%extends "layout.html"%}
{%block content%}

<div class="skills-section">

    <h3 class="heading">Tech:skills</h3>
    <div class="heading-underline"></div>

    <div class="row narrow">

        <div class="col-md-4">
            <div class="about text-center">
                <i class="fab fa-html5 fa-10x"></i>
                <h3>HTML5</h3>
            </div>
        </div>

        <div class="col-md-4">
                <div class="about text-center">
                    <i class="fab fa-css3-alt fa-10x"></i>
                    <h3>CSS3</h3>
                </div>
        </div>

        <div class="col-md-4">
                <div class="about text-center">
                    <i class="fab fa-js-square fa-10x"></i>
                    <h3>JavaScript</h3>
                </div>
        </div>
    </div>
</div>
<!-- End Skills Page -->
{%endblock%}